{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Albert Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}> <!-- Link to your external CSS file -->
    <title>TJ MAC</title>
</head>
<body class="custom-bg">
<section class="hero-section">
    <div class="nav">
        <div class="nav-descrip">
            <div class="nav-img">hi</div>
            <div class="nav-descrip-text">TJ MOBILE APPS CLUB</div>
        </div>
        <div class="nav-main">
            <ul class="navbar">
                <li><a href="h">HOME</a></li>
                <li><a>WHY US</a></li>
                <li><a>PROJECTS</a></li>
                <li><a>OFFICERS</a></li>
            </ul>
        </div>
        <div class="nav-subtext">2 0 2 4</div>
    </div>

    <!-- Replace .hero-text with SVG -->
    <img src="{% static 'heroo.svg' %}" class="hero-title"/>

    <h2 class="hero-subtext">This is the TJMAC website. Enjoy your stay.</h2>
</section>
<section class="about-section">
    <div class="about-title">ABOUT US</div>
    <div class="about-text>">We are a group of students who are passionate about computer science and technology. We are dedicated to learning and creating new things. We are the future of technology.</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br>



</body>
</html>
