{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Albert Sans' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href={% static 'styles.css' %}> <!-- Link to your external CSS file -->
    <title>TJ MAC</title>
</head>
<body class="custom-bg">
<section class="hero-section">
    <div class="nav">
        <div class="nav-descrip">
            <div class="nav-img"><img src="{% static 'madlogo.png' %}" class="nav-img-content"/></div>
            <div class="nav-descrip-text">TJ MOBILE APPS CLUB</div>
        </div>
        <div class="nav-main">
            <ul class="navbar">
                <li><a href="h">HOME</a></li>
                <li><a>WHY US</a></li>
                <li><a>PROJECTS</a></li>
                <li><a>OFFICERS</a></li>
            </ul>
        </div>
        <div class="nav-subtext">2 0 2 4</div>
    </div>

    <!-- Replace .hero-text with SVG -->
    <img src="{% static 'heroo.svg' %}" class="hero-title"/>

    <h2 class="hero-subtext">This is the TJMAC website. Enjoy your stay.</h2>
</section>
<section class="about-section">
    <div class="about-img-div">
        <img src="{% static 'whopper.jpeg' %}" class="about-img"/>
    </div>
    <div class="about-text">
        <br>
        <br>
        <br>
        <h2 class="about-text-title">About Us</h2>
        <p class="about-text-descrip">At the TJ Mobile Apps Club, we don't just strive to learn, we yearn to create. Every meeting brings a new idea to life and a new app one step closer to fruition. At our club, we aim to bring bright individuals together to make apps for a better tomorrow.</p>
    </div>
</section>
<br>
<br>
<br>
<div class="projects-div">
    <div class="projects-title-div">
        <h1 class="projects-title">What We Do</h1>
    </div>

    <div class="project-elements-div">
        <div class="project-elements-row-div">
            <div class="project-elements-row-div-elem" id="NavTJ">
                <h1 class="project-elements-row-div-title" >NavTJ</h1>
                <p class="project-elements-row-div-descrip">No more getting lost. With NavTJ, you get an easy and helpful way to navigate the confusing halls of TJ. NavTJ ensures that you get to your destination quickly and hassle-free!</p>
            </div>
            <div class="project-elements-row-div-elem" id="TJSeniorAssassin">
                <h1 class="project-elements-row-div-title" >TJSeniorAssassin</h1>
                <p class="project-elements-row-div-descrip">TJ's Senior Assassin is an age old tradition, but that doesn't mean we need to use age old methods. TJ MAC designed an intuitive and aesthetic interface to facilitate the game, so that all participants and organizers can have a fun and enjoyable experience!</p>
            </div>
            <div class="project-elements-row-div-elem" id="Retwittered">
                <h1 class="project-elements-row-div-title" >Retwittered</h1>
                <p class="project-elements-row-div-descrip">Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.</p>
            </div>
        </div>

        <div class="project-elements-row-div">
            <div class="project-elements-row-div-elem" id="NavTJ">
                <h1 class="project-elements-row-div-title" >NavTJ</h1>
                <p class="project-elements-row-div-descrip">No more getting lost. With NavTJ, you get an easy and helpful way to navigate the confusing halls of TJ. NavTJ ensures that you get to your destination quickly and hassle-free!</p>
            </div>
            <div class="project-elements-row-div-elem" id="TJSeniorAssassin">
                <h1 class="project-elements-row-div-title" >TJSeniorAssassin</h1>
                <p class="project-elements-row-div-descrip">TJ's Senior Assassin is an age old tradition, but that doesn't mean we need to use age old methods. TJ MAC designed an intuitive and aesthetic interface to facilitate the game, so that all participants and organizers can have a fun and enjoyable experience!</p>
            </div>
            <div class="project-elements-row-div-elem" id="Retwittered">
                <h1 class="project-elements-row-div-title" >Retwittered</h1>
                <p class="project-elements-row-div-descrip">Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.Idk what this app is.</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br>



</body>
</html>
